<!DOCTYPE html>
<html>
<head>
  <title>Sruthi Mavuleti</title>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML,CSS,XML,JQuery,JavaScript">
  <meta name="author" content="sruthi mavuleti">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../../../assets/css/mystyles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
</head>
<body>
   <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../../../index.html">Home</a>
  <a href="../story-train/storyView.html">StoryTrain</a>
  <a href="abc123View.html">ABC123</a>
  <a href="../videos/videoView.html">Videos</a>
</div>
    <i class="fa fa-bars fa-2x" aria-hidden="true"  onclick="openNav()"></i>
   
    
<div  id="abc123" class="container">
        
      <div class = "container">
        <div class ="row row-content">
               <div class="col-sm-4">
                  <div class="panel">
                    <div class="panel-heading myheading"><strong>Alphabets</strong></div>
                    <div class="panel-body"><a href="../../../assets/pdfs/abc/Book.pdf"><img src="../../../assets/imgs/abc/abc.png" class="img-responsive moduletitle" alt="Story Train"></a></div>
                    
                  </div>
                </div>
                <div class="col-sm-4"> 
                  <div class="panel">
                    <div class="panel-heading myheading">Numbers</div>
                    <div class="panel-body"><a href="../../../assets/pdfs/abc/numbers.pdf" ><img src="../../../assets/imgs/abc/numbers.jpg" class="img-responsive moduletitle" alt="Story Train"></a></div>
                    
                  </div>
                </div>
            <div class="col-sm-4"> 
                  <div class="panel">
                    <div class="panel-heading myheading">Flash Cards</div>
                    <div class="panel-body"><a href="../../../assets/components/abc123/flashcards.html" ><img src="../../../assets/imgs/abc/flash.jpg" class="img-responsive moduletitle" alt="Story Train"></a></div>
                    
                  </div>
                </div>
        </div>
    </div>
    

    </div>
    
       
<footer class="container-fluid text-center">
  
</footer>
        
    
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "190px";
        document.getElementById("abc123").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
        document.getElementById("abc123").style.marginLeft= "0";
}
</script>

    
    


</body>
</html>
