<!DOCTYPE html>
<html>
<head>
  <title>Sruthi Mavuleti</title>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML,CSS,XML,JQuery,JavaScript">
  <meta name="author" content="sruthi mavuleti">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="assets/css/mystyles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header class = "jumbotron">
        <div class = "container">
            <div class = "row row-header">
                <div class="col-xs-12 col-sm-8">
                    <div id="rainbowkids">
                    <h1>Rainbow Kids</h1>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
<div class = "container">
<div class ="row row-content">
    <form>
    <div class="form-group">
    <div class="col-xs-12 col-sm-6">
        
        <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td> 
                            <div class="form-group">
                                  <label for="catgory">Select Age:</label>
                                  <select class="form-control" name="age">
                                      
                                          <option>Toddlers</option>
                                          <option>Kids</option>
                                          <option>Teens</option>
                
                                  </select>
                                </div>
                            </td>
                        </tr>
                    </table>
            <button type="submit" class="btn btn-primary" onclick="ageSelected">Enter</button>
                  </div>
</div>
    </div>
</form>
</div>
</div>
    
    </body>
</html>
