<!DOCTYPE html>
<html>
<head>
  <title>Sruthi Mavuleti</title>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML,CSS,XML,JQuery,JavaScript">
  <meta name="author" content="sruthi mavuleti">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../../../assets/css/mystyles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
</head>
<body>
   <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../../../index.html">Home</a>
  <a href="../story-train/storyView.html">StoryTrain</a>
  <a href="../abc123/abc123View.html">ABC123</a>
  <a href="videoView.html">Videos</a>
</div>
    <i class="fa fa-bars fa-2x" aria-hidden="true"  onclick="openNav()"></i>
   
    
<div  id="videochannel">
    
<div class = "container">
<div class ="row row-content">

                <div class="col-sm-6"> 
                  <div class="panel">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/WdKsFfq6_No"></iframe>
                      </div>
                    
                  </div>
                </div>

        </div>
                     <div class="col-sm-6"> 
                  <div class="panel">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ISlWN217EYQ"></iframe>
                      </div>
                    
                  </div>
                </div>
                     </div>
    </div>

    <div class ="row row-content">

                <div class="col-sm-6"> 
                  <div class="panel">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/EA_fbT6oN2k"></iframe>
                      </div>
                    
                  </div>
                </div>

        </div>
                     <div class="col-sm-6"> 
                  <div class="panel">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/yCjJyiqpAuU"></iframe>
                      </div>
                    
                  </div>
                </div>
                     </div>
    </div>

    </div>
    
    <div >
    </div>
    
       
<footer class="container-fluid text-center">
  
</footer>
        
    
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "190px";
        document.getElementById("videochannel").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
        document.getElementById("videochannel").style.marginLeft= "0";
}
</script>

    
    


</body>
</html>
