<!DOCTYPE html>
<html>
<head>
  <title>Sruthi Mavuleti</title>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML,CSS,XML,JQuery,JavaScript">
  <meta name="author" content="sruthi mavuleti">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../../../assets/css/mystyles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
</head>
<body>
   <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../../../index.html">Home</a>
  <a href="storyView.html">StoryTrain</a>
  <a href="../abc123/abc123View.html">ABC123</a>
  <a href="../videos/videoView.html">Videos</a>
</div>
    <i class="fa fa-bars fa-2x" aria-hidden="true"  onclick="openNav()"></i>
   
    
<div  id="storyTrain" class="container">
    
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <a href="../../../assets/pdfs/AliceinWonderland.pdf">
                <img src="../../../assets/imgs/Storytrain/11Alice%20in%20Wonderland.jpg" class="img-thumbnail img-responsive center-block storypanel" alt="Alice in Wonderworld">   </a> 
        </div>
        
        <div class="col-xs-12 col-md-4">
            <a href="../../../assets/pdfs/PeterPan.pdf">
                <img src="../../../assets/imgs/Storytrain/13Peter%20Pan.jpg" class="img-thumbnail img-responsive center-block storypanel"  alt="Peter Pan"> </a>
        </div>
        
           <div class="col-xs-12 col-md-4">
            <a href="../../../assets/pdfs/Writing-on-Walls.pdf">
                <img src="../../../assets/imgs/Storytrain/WritingonWalls.png" class="img-thumbnail img-responsive center-block storypanel" alt="Alice in Wonderworld" ></a>
        </div>

        </div>
        
         <div class="row">
             <div class="col-xs-12 col-md-4">
                 <a href="../../../assets/pdfs/TheMoonandtheCap.pdf">
                     <img src="../../../assets/imgs/Storytrain/8The%20Moon%20and%20the%20Cap.jpg" class="img-thumbnail img-responsive center-block storypanel" alt="The Moon and the Cap"></a>
        </div>

          <div class="col-xs-12 col-md-4">
            <a href="../../../assets/imgs/Storytrain/Fat-King-Thin-Dog.pdf">
                <img src="../../../assets/imgs/Storytrain/FatKingThinDog.png" class="img-thumbnail img-responsive center-block storypanel" alt="Alice in Wonderworld"></a>
        </div>
        
     <div class="col-xs-12 col-md-4">
        <a href="../../../assets/pdfs/ASoundofThunder.pdf">
        <img src="../../../assets/imgs/Storytrain/ASoundofThunder.jpeg" class="img-thumbnail img-responsive center-block storypanel" alt="Little Wizard Stories of Oz" ></a>
        </div>
        
        
        
        </div>
        
        
         <div class="row">
             <div class="col-xs-12 col-md-4">
                <a href="../../../assets/pdfs/Hide-and-Seek.pdf"> 
                    <img src="../../../assets/imgs/Storytrain/HideandSeek.png" class="img-thumbnail img-responsive center-block storypanel" alt="Alice in Wonderworld" ></a>
        </div>
                <div class="col-xs-12 col-md-4">
            <a href="../../../assets/pdfs/LittleWizardStoriesofOz.pdf">
        <img src="../../../assets/imgs/Storytrain/Oz.gif" class="img-thumbnail img-responsive center-block storypanel"  alt="Little Wizard Stories of Oz"></a>
        </div>
      
        
                <div class="col-xs-12 col-md-4">
            <a href="../../../assets/pdfs/TheJungleBook.pdf">
                <img src="../../../assets/imgs/Storytrain/12The%20Jungle%20Book.jpg" class="img-thumbnail img-responsive center-block storypanel" alt="The Jungle Book"></a>
        </div>
                

        
        </div>

    </div>
    
       
<footer class="container-fluid text-center">
  
</footer>
        
    
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "190px";
        document.getElementById("storyTrain").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
        document.getElementById("storyTrain").style.marginLeft= "0";
}
</script>

    
    


</body>
</html>
